.gpt3__possibility {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  max-width: 1440px;
}

.gpt3__possibility img {
  height: 607px;
}

.gpt3__possibility-container {
  display: flex;
  flex-direction: column;
}

.gpt3__possibility-container h3 {
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
  font-weight: 500;
  margin-bottom: 10px;
}

.gpt3__possibility-container a {
  color: var(--color-subtext);
  line-height: 30px;
}

.gpt3__possibility-container-heading {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 2rem;
}
.gpt3__possibility-container-heading h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}

.gpt3__possibility-container-heading p {
  color: var(--color-text);
  line-height: 30px;
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .gpt3__possibility {
    flex-direction: column;
  }
  .gpt3__possibility img {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__possibility img {
    width: 100%;
    height: auto;
  }
}
